/*==================================================
        GTRADES-AXIS PREMIUM DASHBOARD
==================================================*/

*{
margin:0;
padding:0;
box-sizing:border-box;
}

:root{

--primary:#0A84FF;
--primary2:#2D9CFF;

--dark:#070B14;
--card:#111827;
--card2:#182233;

--text:#FFFFFF;
--text2:#B7C0D1;

--border:rgba(255,255,255,.08);

--radius:18px;

}

body{

font-family:'Poppins',sans-serif;

background:
linear-gradient(rgba(7,11,20,.96),rgba(7,11,20,.96)),
url("../images/dashboard-bg.jpg");

background-size:cover;

background-position:center;

background-attachment:fixed;

color:var(--text);

overflow-x:hidden;

}

/*==========================*/

.dashboard{

display:flex;

min-height:100vh;

}

/*==========================*/
/* SIDEBAR */
/*==========================*/

.sidebar{

width:270px;

background:#0b1220;

border-right:1px solid var(--border);

padding:35px 25px;

display:flex;

flex-direction:column;

justify-content:space-between;

position:fixed;

left:0;

top:0;

bottom:0;

}

.brand{

text-align:center;

margin-bottom:50px;

}

.brand img{

width:85px;

margin:auto;

margin-bottom:15px;

}

.brand h2{

font-size:24px;

font-weight:700;

}

.brand span{

color:var(--primary);

}

.sidebar ul{

list-style:none;

}

.sidebar li{

margin-bottom:15px;

}

.sidebar li a{

display:flex;

align-items:center;

gap:16px;

padding:15px 18px;

border-radius:12px;

color:var(--text2);

font-weight:500;

transition:.30s;

}

.sidebar li a:hover{

background:rgba(10,132,255,.18);

color:white;

transform:translateX(6px);

}

.sidebar li.active a{

background:linear-gradient(90deg,var(--primary),#005fe0);

color:white;

}

.sidebar li i{

width:25px;

font-size:18px;

text-align:center;

}

#logoutBtn{

margin-top:40px;

padding:16px;

background:#dc3545;

border:none;

border-radius:12px;

color:white;

font-size:16px;

font-weight:600;

cursor:pointer;

transition:.3s;

}

#logoutBtn:hover{

background:#b91d2d;

transform:translateY(-2px);

}

/*==========================*/
/* MAIN */
/*==========================*/

.main{

margin-left:270px;

width:calc(100% - 270px);

padding:40px;

}
